@model List<Blog1>
@{
    ViewData["Title"] = "Test";
}

<b style="color:chartreuse">@ViewBag.Message</b>
<form method="get" action="/Home/Test">
	<label name="search" value="Search">Search:</label>
	<input type="text" name="search" />
	<input type="submit" value="Go" />
</form>

<h1>Test</h1>

<ul>
	@foreach (Blog1 blog in Model)
	{
		<li><a href="/Home/Blog?id=@blog.ID"><b>@blog.Title</b></a> <a href="/Home/Edit?id=@blog.ID">Edit</a></li>
	}
</ul>