@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	One Microsoft Way<br />
	Redmond, WA 98052-6399<br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>

<br />
<br />

<form action="/Home/ThankYou">
	<label for="firstName">First name:</label>
	<input type="text" name="firstName" /><br />
	<label for="lastName">Last name:</label>
	<input type="text" name="lastName" /><br /><br />
	I have been to:<br />
	<input type="checkbox" name="Detroit" /> Detroit<br />
	<input type="checkbox" name="Chicago" /> Chicago<br />
	<input type="checkbox" name="New York" /> New York<br /><br />
	<input type="submit" value="submit" />
</form>

<br />
<br />

<address>
	<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>