
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

<form action="/Home/Save" method="post">
	<table>
		<tr>
			<td align="right"><label for="username">Username:</label></td>
			<td><input type="text" name="firstname" required /></td>
		</tr>
		<tr>
			<td align="right"><label for="email">Email:</label></td>
			<td><input type="email" name="email" required /></td>
		</tr>
		<tr>
			<td align="right"><label for="password">Password:</label></td>
			<td><input type="password" name="password" required /></td>
		</tr>
	</table>
	<input type="submit" />
</form>